<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
     
        <add name="Student_Project_InfoConnectionString" connectionString="Data Source=DESKTOP-LCAQHET\SQLEXPRESS;Initial Catalog=Student_Project_Info;User ID=sa;Password=unlock"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
